{% extends 'base_min.html' %} {% block content %}

<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/VOvFgvj" alt="Janson" style="width:100%">
            <div class="container">
                <h2>Janson Bunce</h2>
                <p class="title">Software Engineering Fellow</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://imgur.com/0mGhAhe" alt="Jeremy" style="width:100%">
            <div class="container">
                <h2>Jeremy Birnbaum</h2>
                <p class="title">Software Engineering Fellow</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://imgur.com/eckzF6o" alt="Anders" style="width:100%">
            <div class="container">
                <h2>Anders Amaya</h2>
                <p class="title">Software Engineering Fellow</p>
                <p>Software Engineering student at GA motivated by IT solutions. Strong competencies with DML on SQL </p>
                <p>anderama100@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}