{% extends 'base.html' %} {% block content %}
<div class="row">
    <h2>Meet the Team</h2>
</div>git
<div class="col s12 m7">
    <h3 class="header">Jeremy Birnbaum</h3>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://i.imgur.com/56TfbO4.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I have worked with many different teams to achieve a common goal under pressure on short deadlines. Over the last 10 years with PSAV, I worked my way up from entry level technician to a Director managing the AV department for two downtown
                    Denver hotels. I have learned to think on my feet and find solutions to problems quickly as they arise in order to keep our clients happy and ensure their events run smoothly.</p>
            </div>
            <div class="card-action">
                <a href="#">linkedin.com/in/jeremybirnbaum</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h3 class="header">Janson Bunce</h3>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://i.imgur.com/pErXsf5.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>After spending several years in various fields and learning a variety of skills including effective communication skills, leadership, project management, customer service and team friendly work skills I've set my focus on Information Technology.
                    My time spent in my various roles have provided me with the ability to learn quickly, I am using this ability to follow my passion for Software Development. </p>
            </div>
            <div class="card-action">
                <a href="#">linkedin.com/in/jansonbunce</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h3 class="header">Anders Amaya</h3>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://i.imgur.com/QabYH5i.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Software Engineering student at GA motivated by IT solutions. More than 8 years of work experience in different industries like Universities, Banks, Health care</p>
            </div>
            <div class="card-action">
                <a href="#">linkedin.com/in/anders-ortiz100</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}