{% extends 'base_min.html' %} {% block content %}
<h1>Categories</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <td>ID</td>
            <td>CATEGORY NAME</td>
            <td>DATE PUBLISHED</td>
        </tr>
    </thead>
    <tbody>
        {% for n in categories %}
        <tr>
            <td>{{n.id}}</td>
            <td>{{n.name}}</td>
            <td>{{n.published}}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="">Edit</a>
                <a class="btn btn-danger btn-xs" href="">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}