{% extends 'base.html' %}


{% block content %}
    <br>
    <main class="container">
        <div class="row">
            <div class="col s6"><h2>Youtorial</h2></div>  
        </div>
        <div class="row">
            <div class="col s12">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col s5">
                <div class="col s10">
                <h2>Login</h2>
                {% if user.is_authenticated %}
                    logged in as {{user.username}}
                {% endif %}
                {% if error_message%}
                <p>{{ error_message }}</p>
                {% endif %}
                    <form action="accounts/login/" method="POST">
                        {% csrf_token %}
                        <label for="username">Username:</label>
                        <br>
                        <input name="username" type="text" placeholder="Username">
                        <br>
                        <label for="password">Password:</label>
                        <br>
                        <input type="password" placeholder="Password">
                        <input type="submit" value="Login" class="btn col s12 light-blue darken-1">
                    </form>
                </div>
            </div>
            <div class="right col s5">
                <div class="col s10">
                <h2>Sign-Up</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label for="username">Username:</label>
                        <input name="username" type="text" placeholder="Username">
                        <label for="email">Email Address:</label>
                        <input name="username" type="text" placeholder="Email">
                        <label for="first_name">First Name:</label>
                        <input name="first_name" type="text" placeholder="First Name">
                        <label for="last_name">Last Name:</label>
                        <input name="ast_name" type="text" placeholder="Last Name">
                        <label for="password1">Password:</label>
                        <input type="password" placeholder="Password" name="password1">
                        <label for="password2">Confirm Password:</label>
                        <input type="password" name="password2" placeholder="Confirm Password">
                        <input type="submit" value="Sign Up" class="btn col s12 light-blue darken-1">
                        
                        
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
{% endblock  %}