{% extends 'base_min.html' %}


{% block content %}

    <div class="container">
     
        <h3 id="tutorial_title">Title Here</h3>
            <br>
            <br>
            <br>
            <form action="{% url 'new_tutorial'%}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                <a onclick="M.toast({html: 'Thanks For Creating A Tutorial!!',  inDuration: 1000, displayLength: 3000, outDuration: 1000})" class="rounded">
                    <input type="submit" class="btn">
                </a>
            </form>
    </div>
    </div>


    {% load static %}
   
    <script src="{% static 'tinymce/js/tinymce/tinymce.min.js'%}"></script>
    <script>
    tinymce.init({
        mode: "textareas",
        height: 800,
        plugins: "autoresize codesample",
        statusbar: false,
        codesample_languages: [
            { text: 'HTML/XML', value: 'markup' },
            { text: 'JavaScript', value: 'javascript' },
            { text: 'CSS', value: 'css' },
            { text: 'PHP', value: 'php' },
            { text: 'Ruby', value: 'ruby' },
            { text: 'Python', value: 'python' },
            { text: 'Java', value: 'java' },
            { text: 'C', value: 'c' },
            { text: 'C#', value: 'csharp' },
            { text: 'C++', value: 'cpp' }
        ],
        toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
        language: "{{ language }}",
        directionality: "{{ directionality }}",
        spellchecker_languages : "{{ spellchecker_languages }}",
        spellchecker_rpc_url : "{{ spellchecker_rpc_url }}"
    });
    </script>
   
{% endblock  %}