{% extends 'base_min.html' %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="card grey white-text">
                <h3>Upload Video</h3>
                <form action="{% url 'add_video' tutorial.id %}" enctype="multipart/form-data" method="POST" class="card-panel black-text">
                    {% csrf_token %}
                    <input type="file" name="video-file">
                </form>
            </div>
           New tutorial here
    <br>
    <br>
    <br>
    <form action="" method="POST">
    {% csrf_token %}
   
    {{ form.as_p}}

    <input type="submit" class="btn">
    </form>
        </div>

    {% load static %}
   
    <script src="{% static 'tinymce/js/tinymce/tinymce.min.js'%}"></script>
    <script>
    tinyMCE.init({
    mode: "textareas",
    height: 800,
    plugins: "code bbcode autoresize",
    statusbar: false,
    toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
    language: "{{ language }}",
    directionality: "{{ directionality }}",
    spellchecker_languages : "{{ spellchecker_languages }}",
    spellchecker_rpc_url : "{{ spellchecker_rpc_url }}"
});
    </script>
   
{% endblock  %}