{% extends 'base_min.html' %}

{% block content %}
    <h2 class="center">{{ tutorial.title }}</h2>
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="col s6">
            <div class="card-content">
              <p>Created By: {{ tutorial.user }}</p>
              <hr>
              <p class="textwrap">Walkthrough: {{ tutorial.content }}</p>
            </div>
          </div>
          <div class="col s6">
            <p>Video Walkthrough</p>
            <video width="320" height="240" controls>
              <source src="{{ tutorial.video_url }}" type="video/mp4">
              <source src="{{ tutorial.video_url }}" type="video/ogg">
            Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
{% endblock  %}