{% extends 'base_min.html' %} {% block content %}

<h2 class="center">Profile Page</h2>

<div class="container">
    <div class="row">
        <div class="col s3 left">
            <div class="col s12 left">
                <div class="card grey white-text">
                    <h4 class="profile-pic">Profile Pic</h4>
                </div>
            </div>
            <div class="col s12 left">
                <div class="card grey white-text">
                    <h4 class="username">Username</h4>
                </div>
            </div>
            <div class="col s12 left">
                <div class="card grey white-text">
                    <h4 class="user-info">User Info</h4>
                </div>
            </div>
        </div>
        <div class="col s8 right">
            <div class="col s10">
                <div class="card grey white-text card-panel">
                    <h4 class="completed-tutorial">Completed Tutorials</h4>
                </div>
            </div>
            <div class="col s10">
                <div class="card grey white-text card-panel">
                    <h4 class="saved-tutorials"><a href="/tutorials/saved">Saved Tutorials</a></h4>

                </div>
            </div>
            <div class="col s10">
                <div class="card grey white-text card-panel">
                    <h4 class="created-tutorial">Created Tutorials</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}