body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
}

#logo-img{
    height: 125px;
    width: 400px;
}

#logo-img-min{
    height: 70px;
    width: 200px;
}

.textwrap {
  white-space: pre-wrap;
}

#toast-container .toast {
  background-color: #00AFC5;
}

.username {
  padding: 20px 0 0 0;
}

.no-pic {
  font-size: 60px;
}

.no-pic-style {
  padding: 15px 0 0 0;
}

.no-tut-pic {
  font-size: 30px;
  margin: 1px 10px 0 -11px;
}

.tutlist-nopic-name {
  margin-bottom: 10px;
}

.pic-position {
  padding: 20px 0 20px 0;
  width: 100%;
  height: auto;
}

.profile-pic {
  border: 3px solid white;
  margin: 15px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pic-card {
  margin: 0 0 25px 0;
}

.profile-title {
  margin: 10px 0 20px 0;
}

.user-info {
  padding: 0 0 10px 0;
}

.created-tutorial {
  padding: 20px 20px 100px 20px;
  width: 100%;
  height: 200px;
}

.saved-tutorial {
  padding: 20px 20px 100px 20px;
  width: 100%;
  height: 200px;
}

.completed-tutorial {
  margin: 8px 0 0 0;
  padding: 20px 20px 100px 20px;
  max-width: 100%;
  max-height: 140px;
}

.card-scroll {
  max-height: 85px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comp-card {
  margin: 10px 17px;
  background-color: white;
  height: 70px;
}

.tut-title {
  padding: 0;
  margin: -10px 0 10px 0;
}

.save-create {
  max-height: 450px;
  overflow-y:scroll;
  overflow-x:hidden;
}

#user_profile_form{
  transition: 0.2s linear;
}

#footer{  
  right: 0;
  height: 30px;
}

#tutorial_content{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 1000px;
}


#video_player{
  margin-right: 0;
  max-height: 400px;
}

#comment_row{
  margin-top: 250px;
  
}

.container {
  margin: 0 auto;
  max-width: 1980px;
  width: 90%;
  height: auto;
  position: relative;
}

#container{
  margin: 0 auto;
  max-width: 1980px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
  #comments_wrapper{
    margin-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }

  #comments_wrapper{

    margin-top: 0;
    
  }
  #comments_wrapper-min{
    margin-top: 100px;
    
  }

  #comments_container{
    margin-top: 0;
    
   
  }
  #comments_container-min{
    margin-top: 100px;
   
  }

  #comment_row{
    margin-top: 0;
  }


  #test-row{
    max-height: 400px;
  }
 

}

#comments_container{
  max-height: 515px;
  overflow-y: scroll;  
}
#comments_container-min{
  max-height: 890px;
  

  overflow-y: scroll;
}


 #blank_chip{

  float: left;
  height: 32px;
  width: 32px;
  margin: 0 8px 0 -12px;
} 

#comment_form{
  width: 90%; 
}
 
#comment_button{
  font-size: 30px;
  height: 3.55rem;
  width: 10%;
}

.comment_card{
  padding: 10px;
}

.responsive-iframe{
  height: 10vw;
  width: 39vw;
}

.iframe-container{
  position: relative;
  width: 90%;
  height: 400px;
  
}

.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category_photo{
  height: 300px;
  width: 300px;
}

.cat-title{
  background-color: white;
  padding: 5px;
  color: black;
}

#cat-input{
  width: 90%;
}


.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#test-row{
  
}


/*  
 *  Pure CSS star rating that works without reversing order
 *  of inputs
 *  -------------------------------------------------------
 *  NOTE: For the styling to work, there needs to be a radio
 *        input selected by default. There also needs to be a
 *        radio input before the first star, regardless of
 *        whether you offer a 'no rating' or 0 stars option
 *  
 *  This codepen uses FontAwesome icons
 */

 .showcase{
  position: relative;
  display: inline;
  
  
}
.rating-system1,
.rating-system2,
.rating-system3,
.rating-system4{
  
  margin: 0 auto;
  display:inline-block;
  position: relative;
} 



.showcase input{
  display:none;
}

.showcase label{
  float:right;
  display:inline-block;
  width:20px;
  height:5px;
  background:#ccc;
  margin:4px;
  position: relative;
  transition:all .3s;
}

.rating-system2 label{
  width:10px;
  height:10px;
  border-radius:100%; 
  margin:0 10px;
}

.ratings-system2 label:before{display:none;}
.rating-system2 label:hover ~ label,
.rating-system2 label:hover
{
  box-shadow: 0 0 0 2px #00C0D3,
              inset 0 0 0 5px #333;
  
} 

.rating-system2 input:checked ~ label{
  background:gold;
  box-shadow: 0 0 0 2px gold;
  
}

#rating_wrapper{
  width: 250px;
  float: left;
  height: auto;
}
#rating_button{
  display: block;
  
}

.checked{
  box-shadow: 0 0 0 2px #00C0D3, inset 0 0 0 5px #333;
}
 
.rating_fieldset{
  border: none;
  margin: 0;
  padding: 0;
}
